<app-header />

<main>
    <ul id="users">
        @for (user of users; track user.id) {
            <li >
                <app-user 
                    [user]="user"
                    [selected]="user.id === selectedUserId"
                    (selectUser)="onSelectUser($event)"
                />
            </li>
        }
    </ul>
    @if (selectedUser !== undefined) {
        <app-task
        [name]="selectedUser.name"
        [userId]="selectedUser.id"
     />
    } @else {
        <p id="fallback"> Select a user to see their Tasks!</p>
    }
        
</main>

<router-outlet />